footer{
  width: 100%;
  color: #fff;
  height: 140px;
  row-gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--Footer-Color);
}

.copyright{
  font-size: 16px;
  font-weight: 500;
}

.social_networks{
  display: flex;
}

.social_network{
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: var(--Network-Color);
}

.social_network .bx{
  font-size: 26px;
}