.home{
  padding: 20px 20px 80px 20px;
  position: relative;
  min-height: calc(100vh - 61px);
}


.home_filters{
  top: 0;
  left: -400px;
  width: min(320px, 100%);
  height: 100%;
  z-index: 22;
  padding: 60px 20px 20px 20px;
  display: flex;
  row-gap: 20px;
  position: fixed;
  transition: left 0.5s;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.600);
  flex-direction: column;
  background-color: var(--Background-Color);
}

.home_filters-open{
  left: 0px;
}

.home_filters h3{
  font-size: 22px;
}

.home_filters-close{
  top: 20px;
  right: 20px;
  color: var(--Text-Color);
  cursor: pointer;
  position: absolute;
  font-size: 26px;
}

.home_filter-drop{
  display: flex;
  flex-direction: column;
}

.home_filter-drop-title{
  display: flex;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  justify-content: space-between;
}

.home_filter-drop-title::after{
  width: 100%;
  height: 1px;
  bottom: -10px;
  content: "";
  position: absolute;
  border-radius: 1px;  
  background-color: gray;
}

.bx-chevron-down{
  font-size: 25px;
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.drop-open .bx-chevron-down{
  transform: rotate(0deg);
}

.price_filter{
  width: 100%;
  display: flex;
  row-gap: 10px;
  align-items: flex-end;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.drop-open .price_filter{
  height: 180px;
}

.price_filter-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price_filter-div:nth-child(1){
  margin-top: 16px;
}

.price_filter label{
  color: var(--Text-Color);
  font-weight: 500;
}

.price_filter input{
  width: 80%;
  border: 1px solid var(--Border-Color);
  padding: 10px 12px;
  border-radius: 4px;
  background-color: transparent;
}

.category_filter{
  height: 0;
  row-gap: 4px;
  display: flex;
  padding: 0 10px;
  overflow: hidden;
  flex-direction: column;
  transition: height 0.5s, padding 0.5s;
}

.drop-open .category_filter{
  height: 180px;
  padding: 16px 10px;

}

.category_filter-element{
  color: var(--Text-Color);
  padding: 2px 10px;
}

.category-active{
  color: #2b2b2b;
  font-weight: 600;
}

.price_filter-btn{
  width: 100px;
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 4px;
  background-color: var(--Primari-Color);
}


/* Search */
.home_container-search{
  margin-bottom: 40px;
}

.home_container-form{
  width: 100%;
  z-index: 4;
  display: flex;
  position: relative;
  box-shadow: -2px 3px 6px rgba(2, 2, 2, 0.40);
  border-radius: 4px;
  margin-bottom: 10px;
}

.search-active{
  box-shadow: none;
}

.home_container-input{
  width: 80%;
  height: 45px;
  border: 1px solid var(--Border-Color);
  z-index: 2;
  outline: none;
  padding: 12px 16px;
  font-size: 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.home_container-suggestions{
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  padding: 45px 6px 0 6px;
  row-gap: 4px;
  display: flex;
  overflow: auto;
  position: absolute;
  transition: height 0.5s, padding 0.5s, border-radius 0.5s, box-shadow 0.5s;
  border-radius: 4px;
  flex-direction: column;
  background-color: #fff;
}

.search-active .home_container-suggestions{
  height: 360px;
  box-shadow: -2px 3px 6px rgba(2, 2, 2, 0.40);
  padding-top: 50px;
}

.home_container-suggestion{
  color: gray;
  cursor: pointer;
  padding: 4px 10px;
} 

.home_container-suggestion:hover{
  background-color: #dadada;
}

.home_container-suggestion span{
  color: #2b2b2b;
  font-weight: 500;
  background-color: #dddddd;
}

.home_container-suggestion:hover span{
  background-color: #b9b9b9;
}

.home_container-btn{
  color: #fff;
  width: 20%;
  height: 45px;
  border: none;
  z-index: 2;
  display: flex;
  font-size: 20px;
  column-gap: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--Primari-Color);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.home_container-btn span{
  display: none;
  font-size: 18px;
}

.home_container-filters{
  display: flex;
}

.home_container-filters p{
  color: var(--Gray);
  cursor: pointer;
  display: flex;
  column-gap: 6px;
  margin-right: auto;
}

.home_container-cards{
  gap: 30px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 460px;
  justify-content: center;
}

/* Card */
.card-home{
  width: 272.5px;
  height: 440px;
  cursor: pointer;
  border: var(--Gray) 1px solid;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  transition: border 0.5s, transform 0.5s, margin 0.5s, box-shadow 0.5s;
}

.card-home_header{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  border-bottom: #b8b8b8 1px solid;
  padding-bottom: 24px;
  justify-content: center;
}

.card-home_img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.card-home_body{
  height: 40%;
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
}

.card-home_info{
  display: flex;
  justify-content: space-between;
}

.card-home_price-label{
  color: #bbbbbb;
  margin-bottom: 4px;
}

.card-home_price-value{
  font-size: 19px;
  font-weight: 600;
}

.card-home_btn{
  color: #fff;
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 22px;
  transition: transform 0.1s, box-shadow 0.2s;
  box-shadow: -2px 3px 6px hsla(0, 0%, 61%, 0.6);
  align-items: center;
  border-radius: 50%;
  background-color: var(--Primari-Color);
  justify-content: center;
}


@media screen and (min-width: 720px){
  .home_container-input{
    width: 84%;
  }

  .home_container-btn{
    width: 16%;
    cursor: pointer;
  }
  
  .home_container-btn span{
    display: block;
  }

  .price_filter-btn{
    cursor: pointer;
    transition: box-shadow 0.3s;
    box-shadow: 6px -6px 12px #ffffff,
    -6px 6px 12px #c7c7c7;
  }

  .price_filter-btn:hover{
    box-shadow: none;
  }

  .category_filter-element{
    cursor: pointer;
  }

  .category_filter-element:hover{
    color: #252525;
  }


  /* Card */
  .card-home:hover{
    border: var(--Border-Color) 1px solid;
    margin: 10px;
    box-shadow: 6px -6px 12px #ffffff,
    -4px 6px 12px #858585;
    transform: scale(1.06);
  }

  .card-home_btn:hover{
    box-shadow: none;
    transform: scale(0.94);
  }
}

@media screen and (min-width: 1000px){
  .home{
    padding: 0;
    display: flex;
  }

  .home_filters{
    left: 0;
    top: 61px;
    width: 300px;
    height: calc(100vh - 61px);
    z-index: 10;
    padding: 60px 20px 20px 20px;
    position: sticky;
    box-shadow: none;
    background-color: var(--Background-Color);
  }

  .home_container{
    width: 100%;
    padding: 30px 20px 60px 20px;
  } 

  .home_filter-drop-title{
    cursor: pointer;
  }

  .home_container-filters{
    display: none;
  }

  .home_container-cards{
    gap: 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
  }

  .home_filters-close{
    display: none;
  }

  .home_filters h3{
    display: none;
  }
}