:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --Primari-Color: #f85555;
  --Border-Color: #9996;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}