:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --Primari-Color: #f85555;
  --Border-Color: #9996;
  --Footer-Color: #3c3c3b;
  --Network-Color: #50504f;
  --Background-Color: #eeeeee;
  --Text-Color: #515151;
  --Gray: #b8b8b8; 
  --Success-color: #09D31E;
}

* {
  box-sizing: border-box;
}

*::selection{
  background-color: #fd6d6d;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  padding-top: 60px;
}

h1, h2, h3, h4, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root{
  height: 100%;
}